@using RestaurantRoulette.Models;
@{
  Layout = "_Layout";
}

<body>
  @* <div class="container"> *@

    <div class="logo">
      <img class="topPhoto" src="~/images/RestaurantRouletteLogo.png" alt="picture of logo">
      <div class="wheel">
        <img src="~/images/Wheel.png">
      </div>
      <br>
      <div class="home">
        <a class="btn btn-outline-warning" href="/users/new" role="button">New User</a>
        <a class="btn btn-outline-warning" href="/users/login" role="button">Log In</a>
      </div>
    </div>
