
/*.container {
  background-color:n
}
.topPhoto {
  display: block;
  margin-top: 75px;
  margin-left: 150px;
  /* margin-right: 100px; */
  /*width: 175%;
}

.wheel {
  display: block;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 250%;
}

body {
  background: radial-gradient( circle, transparent 50%, black 150%), #146E20;
  height: 180px;
}

.buttons {
 color: black;
 position:absolute;
 width: 180px;
 height: 80px;
 margin-left: 25px;
 bottom:25px;
}

.logo {
  display: center;
  margin-top: 45px;
  margin-left: 200px;
  width: 25%;
}

.goButtons {
   color: black;
   position:absolute;*/
   /* width: 180px;
   height: 80px; */
   /*margin-left: 25px;
   bottom:25px;
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.image1 {
  width: 25%;
  height: auto;
    -webkit-animation-name:            rotate;
    -webkit-animation-duration:        3.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@keyframes circle {
    from {-webkit-transform: rotateZ(0deg)}
    to {-webkit-transform: rotateZ(360deg)}
}
.image2{
  width: 3%;
  height: auto;
    -webkit-animation-name:            rotate;
    -webkit-animation-duration:        2.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;


}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 70px;
}*/
