@using RestaurantRoulette.Models;

<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Restaurants within price range and distance.</h3>

    <div id="map"></div>
    <script>

function initMap() {

  var epicodus = {lat: 45.520589099999995, lng: -122.6778006};

  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: epicodus});

  @foreach (var marker in @Model)
  {

    var latLng = new google.maps.LatLng(@marker.GetMarkerLatitude(), @marker.GetMarkerLongitude());
    var marker = new google.maps.Marker({
          position: latLng,
          map: map
    });
  }
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr-hPtZ78DXpBPdJObRUqgBGrCbL7M0lE&callback=initMap">
    </script>
  </body>
</html>
