@using RestaurantRoulette.Models;

<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Roulette</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
  #map {
    height: 400px;
    width: 100%;
  }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Restaurant Roulette</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/">Log Out</a>
            @* <a href="/users/back"> Back to Profile</a> *@
        </ul>
      </div>
    </nav>
  <h3>Restaurants within price range and distance.</h3>

  <div id="map"></div>
  <script>

  function addMarker(latitude, longitude, map)
  {
    var latLng = new google.maps.LatLng(latitude, longitude);

    var marker = new google.maps.Marker({
      position: latLng,
      map: map,
      draggable: false
    });

    google.maps.event.addListener(marker, 'click', function () {
      infowindow.open(map, marker);
    });
  }
    function initMap() {

      var epicodus = {lat: 45.520589099999995, lng: -122.6778006};

      var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 14, center: epicodus});
        var marker1 = new google.maps.Marker({position: epicodus, map: map});
        var markers;
        @foreach(var fav in @Model["markers"])
        {
          <text>
            addMarker(@fav.GetMarkerLatitude(), @fav.GetMarkerLongitude(), map);
          </text>
        }
    }

    // Now add markers
    </script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr-hPtZ78DXpBPdJObRUqgBGrCbL7M0lE&callback=initMap">
    </script>
    <a href="/users/@Model["user"].GetId()/regular">Roll</a>

  </body>
  </html>
