 @using RestaurantRoulette.Models;
 @{
  Layout = "_Layout";
}



<form action="/user" method="post">

  <label for="userName">User Name:</label>
  <input type="text" name="userName" id="userName">
  <br>
  <label for="userPassword">User Password:</label>
  <input type="text" name="userPassword" id="userPassword">
  <br>
  <button type="submit">Add</button>

</form>
